<h3 align="center">Question:</h3><br>
<div class="well">
  <h2>[Q.] {{model.query}} by: {{model.name}}</h2><br>
</div>


{{update-question question=model update="update"}} <br>

{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{new-answer saveAnswer="saveAnswer" question=model}}
